@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: 'poppins', sans-serif;

}

.main {
  background-image: url("asset/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  /* opacity: 20%; */
  position: relative;
}

.box {
  height: 80vh;
  width: 100%;
  opacity: 0.69;
  background-color: black;
  position: absolute;
  top: 0;
}

.maintxt {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: white;
  z-index: 10;
  gap: 23px;
  
  padding: 0 23px;
}
body{
    background-color: black;
}
.maintxt> :nth-child(1){
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.maintxt> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.maintxt> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.maintxt :div{
    padding: 24px 16px 8px;

}

nav {
  max-width: 80vh;
  margin: auto;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  color: red;
}

nav img {
  color: red;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.separation{
    height: 7px;
    background-color: rgb(41, 41, 41);

}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;

}

.btn-red-sm{
  font-family: 'poppins', sans-serif;
  font-weight: 400;
    background-color: red;
    border-color: red;
   border-radius: 0.25rem;
   cursor: pointer;
    
}

.main input{
  color: white;
    padding: 7px 101px 8px 14px;
    border-radius: 0.25rem;
    border: 1px solid rgba(246, 238, 238, 0.5);
    font-size: 12px;
    background-color: rgba(23,23,23, 0.2);
}

.red-btn{
  font-family: 'poppins', sans-serif;
   padding: 5px 12px;
   border-color: red;
   border-radius: 0.25rem;
    background-color: red;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.main-btn{
  font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.lang-btn{
  padding: 0px 10px;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  color: white;
  background-color: rgba(14, 14, 14, 0.135);
  border: 2px solid rgb(39, 33, 33);
  border-radius: 4px;
  /* cursor: pointer; */
  /* position: relative; */
  /* z-index: 10; */
}
.first{
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  max-width: 70vw;  
  margin: auto;
}


.secImg img{
  width: 30vw;
  position: relative;
  z-index: 10;
}

.secImg{
  position: relative;
}

.secImg video{
  width: 26vw;
  position: absolute;
  top: 51px;
  right: 0;
}

.first > div :first-child{
  font-size: 48px;
  font-weight: bolder;
}
.first > div :nth-child(2) {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 400;
}

.txt{

  text-align: center;
  font-weight: 900;
  font-size: 32px;
}

/* .question{
  display: flex;
  justify-content: center;
  flex-direction: row;

  padding 24px;
  border: 2px solid white;
} */

h2{
  text-align: center;
}
.faq{
  padding: 24px;
  
}
.faqbox{
  display: flex;
  justify-content: space-between;
  /* width: 100vw; */
  padding: 24px;
  max-width: 40vw;
  margin: 34px auto;
  background-color: rgb(45, 45, 45);
  /* flex-direction: row; */
  
}